Body {

    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
p {
    font-size: 2vh;
}
h1 {
    font-family: 'IBM Plex Sans', bold;
    font-size: 10vh;
}
h2 {
    font-family: 'IBM Plex Sans', bold;
    font-size: 5vh;
}
h4 {
    font-family: 'IBM Plex Serif', italic;
    font-size: 2vh;
}
section {
    display: block;
    height: 100vh;
}
#welcome img {
    height: 100%;
    position:inherit;
    width: 100%;
    opacity: 70%;
}
#welcome-text {
    float: left;
    width: 50vw;
    position: absolute;
    top: 45%;
    margin-left:5%;
}
#project img {
    position: inherit; 
    float: right; 
    height: 100vh;
    margin-top: -65vh;
    margin-right: 10vw;

}
#project {
    background-color: #d2e7d6;
}
#project-text {
    float: left;
    width: 30vw;
    position: inherit;
    margin-top: 15%;
    margin-left:5%;

}
#howto img{
    height: 60vh;
    position: absolute;
    margin-left: 20%;
    margin-right: auto;
}
#proto{
    width:50vw;
    float: left; 
    position: inherit ;
}
#proto-text {
    width:30vw; 
    float: right;
}

#design-text {
    float: left;
    width: 50vw;
    position: inherit ;
    top: 40%;
    margin-left:10%;
}
#user-feedback{
    height: 40vh;
    background-color: #d2e7d6;
}
#user-carousel{
    position: inherit;
    padding-top: 8%;

}
#tech-table{
    margin-left: 15%;
    position: inherit;
    padding-top: 3%;
}
#technical img {
    height: 13vh;
    padding-bottom: 3vh;
}
#team{
    background-color: #d2e7d6;
}
#team-cards{
    width: 80vw;
    position: inherit ;
    margin: auto auto auto auto;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
    outline: black;
}