Body {

    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
p {
    font-size: 2vh;
}
h1 {
    font-family: 'IBM Plex Sans', bold;
    font-size: 10vh;
}
h2 {
    font-family: 'IBM Plex Sans', bold;
    font-size: 5vh;
}
h4 {
    font-family: 'IBM Plex Serif', italic;
    font-size: 2vh;
}
section {
    display: block;
    height: 100vh;
}
@media only screen and (max-width: 600px) {
    #welcome img {
      visibility: hidden;
    }
}
.container{
    display: flex; 
    flex-wrap: wrap;
}
#welcome img {
    height: 100%;
    position:inherit;
    width: 100%;
    opacity: 70%;
}
#welcome-text {
    float: left;
    width: 50vw;
    position: absolute;
    top: 45%;
    margin-left:5%;
}
#project img {
    position: inherit; 
   
    height: 100vh;
    margin-top: -65vh;

}
#project {
    background-color: #d2e7d6;
}
#project-text {
    float: left;
    width: 30vw;
    position: inherit;
    margin-top: 15%;
    margin-left:5%;

}
#howto img{
    height: 60vh;
    position: absolute;
    margin-left: 20%;
    margin-right: auto;
}
#proto{
    width:50vw;
    float: left; 
    position: inherit ;
}
#proto-text {
    width:30vw; 
    float: right;
}

#design-text {
    float: left;
    width: 50vw;
    position: inherit ;
    top: 40%;
    margin-left:10%;
}
#user-feedback{
    height: 40vh;
    background-color: #d2e7d6;
}
#user-carousel{
    position: inherit;
    padding-top: 8%;

}
#tech-table{
    flex: 1;
}
#technical {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#technical img {
    height: 13vh;
    padding-bottom: 3vh;
}


#team{
    background-color: #d2e7d6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#team-cards{
    width: 80vw;
    margin: auto auto auto auto;
    flex: 1;
}
.card-img-top {
    object-fit: contain;
    padding-top: 2%;
}
.card {
    border:none;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
    outline: black;
}